body{
	background-color: #FFF;
	max-width: 80em;
	margin: 0 auto;
	border-right: 1px solid #BBB;	/* Til að breyta lit á border breyttu öllu sem er #BBB*/
	border-bottom: 1px solid #BBB;
}
nav{
	border-left: 1px solid #BBB
}
div, article, aside, footer, header, nav{
    -moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari, chrome*/
	box-sizing:border-box; /* Border og padding (px stærð) leggst inná öll div og hefur ekki áhrif á heildarbreidd */
}
h3{
	margin-left: 10px;
}
div, aside, article{
	border-top: 1px solid #BBB;
	border-left: 1px solid #BBB;
}

/* MENU */
.navdiv, .menu-link{
	border: none;
}
.navlink{
	color: #777;
	text-decoration: none;
	padding: 1em 1.5em;
}
.navlink:hover{
	background: #CCC;	/*Litur á hover takka*/
}
li {
    display:inline-block;
    float: left;
}
.menutitle{
    color: #777;
    margin-top: 0;
   	margin-right: 1em;
   	margin-left: 0;
    margin-bottom: 0.6em;
}
.menu-selected
{
	background: #EEE;	/* Litur á selected takka*/
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}